<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="well well-large" style="height: 240px;">
    <p><h3>Hi, {{ g.user.nickname }}!</h3></p>
    <p><h4>Welcome to the Home of Complementary and Alternative Medicine!</h4></p>
    <p>Our readers have been testing and developing these folk remedies, with contributions of complementary and alternative medicine treatments from health experts in every part of the world, since 1999.</p>
    <p>We've been sent some of the most exciting holistic treatments to date – dozens of restorative remedies, plus natural cures for cancer, fibromyalgia, back pain and better than 350 other diseases and conditions!</p>
    <p>EarthMD is currently ranked among the <a href="http://www.alexa.com/topsites/category/Top/Health/Alternative">Top 5 Alternative Health Sites</a> on the web and is treasured by more than 1.5 million unique monthly visitors!</p>
</div>

{% endblock %}

<!-- {#

want to delete all this but seems to break page? 

this was the old div for posts...would not insert into table ailmenttoremedy as-is



<div class="well">
    <form class="form-horizontal" action="" method="post" name="post">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="post">Say something:</label>
            <div class="controls">
                {{ form.body(size = 30, maxlength = 140) }}
                {% for error in form.errors.post %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Post!">
            </div>
        </div>
    </form>
</div>

{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">Newer posts</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">Older posts</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Older posts</a></li>
    {% endif %}
</ul>

#} -->