{% extends "base.html" %}
{% block content %}

{% macro show_post(post) %}
		<p class="upvote" id="up_{{post.id}}">Upvote</p>
		<p class="downvote" id="down_{{post.id}}">Downvote</p>
		<p><b>Author:</b> {{ post.author.nickname }} <b>Date:</b> {{ post.timestamp }} </p>
		<p><b>Category:</b> {{ post.category_str }}</p>
		<p><b>Score:</b> <span id="score">{{ post.score }}</span></p>
		<p>{{ post.body }}</p>
{% endmacro %} 

<h1>{{ ailment.name }}</h1>
<h2>{{ remedy.name }}</h2>
<p><a href="{{ url_for('newpost', ailment_id=ailment.id, remedy_id=remedy.id) }}">Write New Post</a>

<div class="row">
 	<div class="span6">
 		<div class="well">
  		<h3>The most helpful favorable review</h3>
		{{ show_post(top_yea)}}
		</div>
	</div>
	<div class="span6">
		<div class="well">
		<h3>The most helpful negative review</h3>
		{{ show_post(top_nay)}}
		</div>
	</div>
</div>
</div>

<div>
<h3>All Posts</h3>
<ul>
	{% for post in posts %}
	<li>
	{{ show_post(post) }}
	</li>
	{% endfor %}
</ul>
<script>
$(".upvote, .downvote").click(function() {
	var elementId=this.getAttribute("id")
	var	elementInfo=elementId.split("_")
	console.log(elementInfo[0])
	console.log(elementInfo[1])
	$.post('/vote', { vote: elementInfo[0], post_id: elementInfo[1] },function(response) {
		// here we rest borders on all buttons
		$(".upvote, .downvote").css("border", "none");

		// add grey border to button was just clicked
		$(this).css("border", "solid 1px #999");

		var score = parseInt($("#score").text(), 10);
		if (elementInfo[0] == "up") {
			score += 1;
		} else {
			score -= 1;
		}
		$("#score").text(score);
	});
})

</script>
</div>

{% endblock %}