{% extends "base.html" %}
{% block content %}

{% macro show_post(post) %}
		<p class="upvote" id="up_{{post.id}}">Upvote</p>
		<p class="downvote" id="down_{{post.id}}">Downvote</p>
		<p><b>Author:</b> {{ post.author.nickname }} <b>Date:</b> {{ post.timestamp }} </p>
		<p><b>Category:</b> {{ post.category_str }}</p>
		<p><b>Score:</b> {{ post.score }}</p>
		<p>{{ post.body }}</p>
{% endmacro %} 

<h1>{{ ailment.name }}</h1>
<h2>{{ remedy.name }}</h2>
<p><a href="{{ url_for('newpost', ailment_id=ailment.id, remedy_id=remedy.id) }}">Write New Post</a>

<div class="row">
 	<div class="span6">
 		<div class="well">
  		<h3> Best Yay</h3>
		{{ show_post(top_yea)}}
		</div>
	</div>
	<div class="span6">
		<div class="well">
		<h3>Best Nay</h3>
		{{ show_post(top_nay)}}
		</div>
	</div>
</div>
</div>

<h3>All Posts</h3>
<ul>
	{% for post in posts %}
	<li>
	{{ show_post(post) }}
	</li>
	{% endfor %}
</ul>
<script>
$(".upvote, .downvote").click(function() {
	var elementId=this.getAttribute("id")
	var	elementInfo=elementId.split("_")
	console.log(elementInfo[0])
	console.log(elementInfo[1])
	$.post('/vote', { vote: elementInfo[0], post_id: elementInfo[1] },function(response) {
		alert(response)
	});
})

</script>

{% endblock %}