{% extends "base.html" %}
{% block content %}

<!-- how to insert ailment and remedy here with jinja? -->

<div class="well">
    <form class="form-horizontal" action="" method="post" name="post">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="post">Say something:</label>
            <div class="controls">
                {{ form.category() }}
                {% for error in form.category.errors %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
                
                {{ form.body() }}
                {% for error in form.body.errors %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Post!">
            </div>
        </div>
    </form>
</div>

{% endblock %}